{% extends 'base.html' %}
{% load static %}
{% load highlight %}

{% block title %}
    新闻动态_恒达科技
{% endblock %}

{% block content %}
    <!--广告横幅-->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive model-img" src="{% static 'img/new.jpg' %}" alt="">
        </div>
    </div>
    <!--主体内容-->
    <div class="container">
        <div class="row row-3">
            <div class="model-details-title">
                关于“{{ query }}”的搜索结果
                <div class="col-md-7 hidden-xs model-details-title-search">
                    <form action="{% url 'haystack_search' %}" method="get" id="searchform">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="请输入关键词" required>
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default" value="查询">
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!--搜索内容-->
            <div class="model-details">
                {% for result in page.object_list %}
                    <div class="news-model">
                        <img src="{% static 'img/newicon.gif' %}" alt="">
                        <a href="{% url 'newsApp:newDetail' result.object.id %}">
                            <b>{{ result.object.title }}</b>
                        </a>
                        <span>【{{ result.object.publish_date|date:"Y-m-d" }}】</span>
                        <!--添加新闻简要说明-->
                        <p class="news-search-model">
                            {% highlight result.object.description with query %}| {% highlight result.object.title with query %}
                        </p>
                    </div>
                    {% empty %}
                    <p>没有找到相关新闻</p>
                {% endfor %}
            </div>
            <!--分页-->
            {% if page.has_previous or page.has_next %}
                <div class="row news-btn">
                    <!--还有上一页-->
                    {% if page.has_previous %}
                        <a class="btn btn-danger" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a>
                    {% endif %}
                    <!--当前页-->
{#                    <span>{{ page.number }}</span>#}
                    <!--还有下一页-->
                    {% if page.has_next %}
                        <a class="btn btn-success" href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页</a>
                    {% endif %}

                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}