<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<link href="https://easybug-1256018379.cos.ap-nanjing.myqcloud.com/%E8%B5%84%E6%BA%90%E6%96%87%E4%BB%B6/style.css" rel="stylesheet">
  <title>
   YU浏览器 (Jade Browser) 隐私政策
  </title>
 </head>
 <body>
  <div class="main">
   <h1>
    YU浏览器 (Jade Browser) 隐私政策
   </h1>
   <div class="update-time" id="update-time" style="display: block;">
    <span id="last-text">
     上次修改于
    </span>
    :
    <span>
      2024/05/21
    </span>
   </div>
   <div class="i-content">
    <div>
     <div>
      <h2>
       声明
      </h2>
      <div>
       <p>
        感谢您使用由上海逻存信息科技有限公司（以下称“我们”）开发的YU浏览器。
       </p>
       <p>
        保护用户的隐私数据是我们的一项重大责任，我们将按法律法规要求，尽力保护您的个人信息安全可控。
       </p>
       <p>
        鉴于此，我们制定本隐私政策并提醒您：
       </p>
       <p>
        本隐私政策仅适用于YU浏览器所提供的各项服务，包括但不限于适用于移动智能终端的应用程序、应用程序编程接口（API）等。
       </p>
       <p>
        需要特别说明的是，本政策不适用于其他第三方向您提供的服务，为确保流畅的产品体验，您可能会收到来自第三方提供的内容或网络链接。请您谨慎选择是否访问第三方提供的链接、内容、产品和服务。
       </p>
       <p>
        在使用YU浏览器之前，请您务必仔细阅读并透彻理解本政策，在确认充分理解并同意后再开始使用。
       </p>
       <p>
        如对本政策内容有任何疑问、意见或建议，请及时与我们联系。
       </p>
      </div>
     </div>
     <div>
      <h2>
       一、我们为何会收集信息
      </h2>
      <div>
       <p>
        1.帮助我们不断改进现有产品和服务的质量，保障用户能够更好地使用它们。
       </p>
       <p>
        2.使用现有数据库中收集的信息来帮助我们开发新的产品和服务。
       </p>
       <p>
        3.帮助提高服务的安全性和可靠性。这包括检测和预防可能会对您或公众造成伤害的欺诈，滥用，安全风险和技术问题。
       </p>
       <p>
        4.维护我们的合法利益。比如出于宣传等需要，我们会在法律允许的情况下收集并处理您的个人信息。
       </p>
      </div>
     </div>
     <div>
      <h2>
       二、我们收集的信息包括
      </h2>
      <div>
       <p>
        1.您的设备信息
       </p>
       <p>
        我们会收集有关您在使用YU浏览器时所使用的设备相关信息，这有助于我们提供产品自动更新、功能优化。
       </p>
       <p>
        这包括：设备类型和设置；操作系统；移动网络信息等。
       </p>
       <p>
        2.您在使用YU浏览器时产生的活动数据
       </p>
       <p>
        通过收集分析您在使用我们的产品及服务过程中的产生活动数据，我们可以更好地了解用户使用情况，以便于做出相应的改善措施。
       </p>
       <p>
        这包括：您的浏览器版本号；浏览器设置；您与浏览器的互动信息，比如服务日志信息、IP地址、崩溃报告、功能使用频率等。
       </p>
       <p>
        3.Cookie
       </p>
       <p>
        Cookie 有助于我们在您将来再次访问网站时记住您的偏好和设置，因此YU浏览器可能会使用 cookie 来增强您的用户体验。
       </p>
       <p>
        这包括：会话 Cookie；永久性 Cookie；第三方 Cookie 等。
       </p>
       <p>
        您也可以在“Cookie 和网站数据”对话框中管理或删除存储的浏览数据。
       </p>
       <p>
        4.试图执行程序文件的内容
       </p>
       <p>
        部分网站的内容或者执行程序可能会对您的手机、操作系统或者YU浏览器造成损害。
       </p>
       <p>
        因此在您上网时，我们会分析并读取您访问的网址、点击的下载链接等内容是否会对用户构成侵害。
       </p>
       <p>
        若我们判断为该网址或文件不安全，则会自动向您提示并屏蔽该信息。
       </p>
      </div>
     </div>
     <div>
      <h2>
       三、我们需要的权限包括
      </h2>
      <div>
       <p>
        您如果拒绝提供以下授权，将无法使用其对应的相关功能，但不影响您正常使用YU浏览器的其他功能。
       </p>
       <p>
        1.相机/相册/麦克风读取权限
       </p>
       <p>
        当您使用扫描二维码、语音搜索、图片搜索、图像识别等功能时，我们需要获取系统的相机/相册/麦克风读取权限，以支持前述功能的提供。
       </p>
       <p>
        我们当且仅当您通过点击二维码扫描、语音搜索、图片搜索、图像识别入口，或者以其他未来YU浏览器可提供的方式唤起对应搜索功能时才会进行前述的信息收集。
       </p>
       <p>
        2.读取本地存储
       </p>
       <p>
        当您使用YU浏览器浏览您存储于设备本地的内容时，如文档、小说等，我们需要获得读取本地存储的授权，来将您本地的信息通过读取在YU浏览器中展示。
       </p>
       <p>
        3.位置
       </p>
       <p>
        当您基于与第三方在YU浏览器上提供的服务进行交互需要基于位置进行时，我们会请求您授权位置权限，并收集与服务相关的位置信息。
       </p>
       <p>
        4.读取已安装应用列表
       </p>
       <p>
        以下情况需要读取已安装应用列表权限
       </p>
       <p>
        （1）当您基于与第三方在YU浏览器上提供的服务进行交互需要直接打开第三方应用。
       </p>
       <p>
        （2）当您通过YU浏览器下载资源时选择外部下载程序下载。
       </p>
       <p>
        （3）当您通过YU浏览器设置默认浏览器。
       </p>
      </div>
     </div>
     <div>
      <h2>
       四、我们如何保护您的个人信息安全
      </h2>
      <div>
       <p>
        1.我们已采取符合业界标准、合理可行的安全防护措施保护您的信息，防止个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。
       </p>
       <p>
        例如，YU浏览器优先使用HTTPS协议进行网页浏览；在您的客户端与服务器之间交换数据时受SSL协议加密保护；我们会使用加密技术提高个人信息的安全性；我们会使用受信赖的保护机制防止个人信息遭到恶意攻击。
       </p>
       <p>
        2.我们会采取合理可行的措施，尽力避免收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息，除非法律有强制的存留要求。
       </p>
       <p>
        3.互联网并非绝对安全的环境，使用我们的服务时，我们强烈建议您不要使用非YU浏览器推荐的通信方式发送您的信息。请注意，您在使用我们服务时自愿共享甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息。请您更加谨慎地考虑，是否在使用我们的服务时共享甚至公开分享相关信息。请使用复杂密码，协助我们保证您的账号安全。我们将尽力保障您发送给我们的任何信息的安全性。如果我们的物理、技术或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改或毁坏，导致您的合法权益受损，我们将承担相应的法律责任。
       </p>
       <p>
        4.在不幸发生个人信息安全事件后，我们将按照法律法规的要求向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。事件相关情况我们将以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。
       </p>
       <p>
        同时，我们还将按照监管部门要求，上报个人信息安全事件的处置情况。
       </p>
      </div>
     </div>
     <div>
      <h2>
       五、出于特定原因的用途
      </h2>
      <div>
       <p>
        您充分理解并同意，我们在以下情况下收集、使用您的个人信息无需您的授权同意，且我们可能不会响应您提出的更正/修改、删除、注销、撤回同意、索取信息的请求：
       </p>
       <p>
        1.与国家安全、国防安全有关的
       </p>
       <p>
        2.与公共安全、公共卫生、重大公共利益有关的
       </p>
       <p>
        3.与犯罪侦查、起诉、审判和判决执行等司法或行政执法有关的
       </p>
       <p>
        4.出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的
       </p>
       <p>
        5.您自行向社会公众公开的个人信息
       </p>
       <p>
        6.从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道
       </p>
       <p>
        7.根据与您签订和履行相关协议或其他书面文件所必需的
       </p>
       <p>
        8.用于维护所提供的产品及/或服务的安全稳定运行所必需的，例如发现、处置产品及/或服务的故障
       </p>
       <p>
        9.为合法的新闻报道所必需的
       </p>
       <p>
        10.学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的
       </p>
       <p>
        11.法律法规规定的其他情形
       </p>
      </div>
     </div>
     <div>
      <h2>
       六、您如何管理您的个人信息
      </h2>
      <div>
       <p>
        您可以通过以下方式访问及管理您的个人信息：
       </p>
       <p>
        1.清除数据
       </p>
       <p>
        清除历史浏览器记录、搜索记录、下载记录、Cookies、账号密码和缓存文件等。
       </p>
       <p>
        2.更正或补充
       </p>
       <p>
        当您发现我们处理的关于您的个人信息有错误时，您有权要求我们做出更正或补充。
       </p>
       <p>
        3.改变授权
       </p>
       <p>
        每个业务功能需要一些基本的授权才能进行，但是您也可以撤回部分授权。
       </p>
      </div>
     </div>
     <div>
      <h2>
       七、小组件
      </h2>
      <div>
       <p>
        我们提供了四种桌面小组件，它具有更加便捷的搜索和访问服务，让您能够更加快速地找到和访问您想要的内容。
       </p>
       <p>
        相应的小组件会启动YU浏览器对应的功能，比如搜索，网页，和网页应用等。但这些功能只限于YU浏览器，不会影响您手机上其他应用的正常使用。
       </p>
       <p>
        小组件会使YU浏览器会有相关的自启动行为，这些行为只会占用微量的系统资源（主要是监听小组件更新广播）。
       </p>
      </div>
     </div>
     <div>
      <h2>
       八、无痕模式和访客模式
      </h2>
      <div>
       <p>
        您可以通过使用无痕模式或访客模式来限制YU浏览器在您系统上存储的信息。在这些模式下，YU浏览器不会存储某些信息，例如：
       </p>
       <p>
        基本的浏览记录信息，如网址、缓存的网页文字或从所访问网站链接到的网页的IP地址、您所访问网页的快照、您的下载记录，尽管您下载的文件仍会存储在您计算机/设备上的其他位置。
       </p>
       <p>
        此外，在无痕模式或访客模式下，YU浏览器不会与您访问的网站分享现有的 Cookie。使用无痕模式或访客模式时，您访问的网站可能会在您的系统上设置新的 Cookie，但这些 Cookie 的存储和传输只会持续到您关闭最后一个无痕窗口或访客窗口时。
       </p>
      </div>
     </div>
     <div>
      <h2>
       九、管理插件
      </h2>
      <div>
       <p>
        您可以在YU浏览器中使用各种应用、扩展程序、主题背景、服务和其他插件，包括YU浏览器中可能会预装或集成的插件。
       </p>
       <p>
        需要注意的是，由其他方开发和提供的插件由相应的插件开发者负责，并且可能遵守不同的隐私权政策。
       </p>
       <p>
        在安装插件前，您应查看其请求的权限。插件可能会请求权限来执行各种操作。
       </p>
       <p>
        我们可能会不时地发现存在以下问题的插件：造成安全威胁、违反开发者条款，或违反其他法律协议/法律/法规/政策。我们会定期下载包含此类危险插件的列表，以便远程停用或从系统中移除这些插件。
       </p>
      </div>
     </div>
     <div>
      <h2>
       十、剪贴板数据处理
      </h2>
      <div>
       <p>
        为了鼓励并感谢我们的用户帮助扩展YU浏览器的用户群，我们推出了用户邀请奖励计划。以下是有关该计划的详细信息及其在您的隐私中的相关影响：
       </p>
       <p>
        剪贴板数据处理：为确保您能更便捷地使用我们的邀请功能，我们的应用在启动时会读取粘贴板中的内容。此操作的唯一目的是自动识别和解析符合YU浏览器邀请码格式的文本，从而简化用户使用邀请码的流程。
       </p>
       <p>
        我们特别声明：
       </p>
       <p>
        - 应用将仅对剪贴板中与YU浏览器邀请码格式匹配的内容进行读取和解析。
       </p>
       <p>
        - 如果剪贴板中的内容与YU浏览器邀请码格式不匹配，我们会立即忽略这些内容，不会进行上传、保存或其它任何处理。
       </p>
       <p>
        - 我们不会收集您剪贴板中的任何其它信息，也不会访问或解析任何与邀请码无关的剪贴板内容。
       </p>
       <p>
        我们承诺对您的个人隐私给予最高的尊重和保护，不会将剪贴板的功能用于任何形式的个人数据收集之外的目的。
       </p>
       <p>
        隐私保护：我们承诺将依照本隐私政策保护与用户邀请奖励计划相关的所有个人数据，并仅在法律允许的范围内使用这些数据。
       </p>
       <p>
        变更与通知：我们保留随时修改用户邀请奖励计划规则的权利。任何重大变更将通过YU浏览器的官方渠道通知用户。
       </p>
      </div>
     </div>
     <div>
      <h2>
       十一、第三方SDK
      </h2>
      <div>
       <p>
        为保障App相关功能的实现与应用安全稳定的运行及用户信息安全，我们会接入友盟+SDK用于App统计分析场景和监测应用性能，包括新增用户细查、崩溃回调等、统计和崩溃捕获、用户活跃度。为此，我们可能会向您收集个人信息类型：设备信息（IMEI/Mac/android ID/IDFA/OPENUDID/GUID/SIM卡IMSI/地理位置信息/OAID等）。以便更好地诊断问题和提升用户体验。我们重视您的隐私安全，对收集的信息将严格按照适用的隐私政策进行处理。
       </p>
       <p>
        以下是我们可能会收集的个人信息类型及使用目的：
       </p>
       <p>
        - 设备标识符（如IMEI/设备序列号/Mac地址/android ID/IDFA/OPENUDID/GUID/SIM卡IMSI/OAID/ICCID等）：用于分析用户群体的设备使用习惯，优化应用性能，及进行崩溃回调分析，从而提升服务质量。
       </p>
       <p>
        - 仅在您同意的前提下收集OAID等标识信息，并确保透明告知收集此类信息的目的及使用方式。不会将OAID与您的个人身份信息进行关联，确保您的匿名性。限定OAID的收集范围和使用目的，仅作为改进应用服务的统计分析之用。
       </p>
       <p>
        - 地理位置信息：辅助我们进行区域性分析，以便对不同地区的用户提供更加定制化的服务。
       </p>
       <p>
        请您了解，上述信息将通过第三方SDK进行收集。这些sdk将严格遵循以下其自身隐私权政策来保护您的个人信息，主要使用到的第三方sdk有：
       </p>
       <p>
        1，友盟+SDK，<a href="https://www.umeng.com/page/policy">友盟政策链接：https://www.umeng.com/page/policy</a>
       
      </div>
     </div>
     <div>
      <h2>
       十二、本隐私政策的变更
      </h2>
      <div>
       <p>
        我们可随时更新本隐私政策。当本隐私政策更新时，我们将修改本页顶部的更新日期。我们建议用户经常查看此页面以便及时了解更改情况。
       </p>
      </div>
     </div>
     <div>
      <h2>
       十三、您接受这些条款
      </h2>
      <div>
       <p>
        使用我们的产品及服务即表示您接受本隐私政策。如果您不同意本隐私政策，请不要继续使用。
       </p>
       <p>
        您若在本隐私政策变更发布后继续使用，将被视为您接受这些变更，并且同意变更后的隐私政策。
       </p>
      </div>
     </div>
     <div>
      <h2>
       十四、法律适用与争议解决
      </h2>
      <div>
       <p>
        本隐私政策的效力、解释、履行和决议适用于您居住地的法律。
       </p>
       <p>
        同时，我们将采取措施确保您的个人信息得到妥善保护，并且只会在法律允许的情况下将您的个人信息传输到这些国家。
       </p>
       <p>
        与本隐私政策或其履行有关的任何争议，应通过双方友好协商解决。协商不成的，将争议提交我们所在地有管辖权的人民法院管辖。
       </p>
       <p>
        您和我们共同确认，签署本隐私政策的选择权对双方是完全平等和公平的。可选择签署或不签署本隐私政策，本隐私政策为双方慎重考虑后的意见陈述.不存在一方增加另一方责任或逃避义务的情况。任何一方签署本隐私政策或承诺遵守本隐私政策的，视为放弃对本隐私政策的公平性提出质疑的权利。
       </p>
      </div>
     </div>
     <div>
      <h2>
       十五、联系我们
      </h2>
      <div>
       <p>
        上海逻存信息科技有限公司
       </p>
       <p>
        邮箱地址：278245002@qq.com
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>