<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <link href="https://easybug-1256018379.cos.ap-nanjing.myqcloud.com/%E8%B5%84%E6%BA%90%E6%96%87%E4%BB%B6/style.css" rel="stylesheet">

  <title>
   YU浏览器 (Jade Browser) 用户协议
  </title>
 </head>
 <body>
  <div class="main">
   <h1>
    YU浏览器 (Jade Browser) 用户协议
   </h1>
   <div class="update-time" id="update-time" style="display: block;">
    <span id="last-text">
     上次修改于
    </span>
    :
    <span>
     2024/05/21
    </span>
   </div>
   <div class="i-content">
    <div>
     <div>
      <h2>
       声明
      </h2>
      <div>
       <p>
        使用YU浏览器前，请您仔细阅读以下使用条款，如果访问、浏览或使用YU浏览器，即表示您已阅读、理解并同意接受这些条款或提及的所有条款，并遵守相关法律法规。如果您不接受这些条款，请不要继续使用。
       </p>
       <p>
        1.您同意：我们有权随时对本使用条款及相应的服务规则、服务内容、产品说明、产品功能等进行单方面的变更，并以消息推送、网页公告、短信群发等一种或多种方式予以公布，无需另行单独通知您，此种变更或调整不视为我们违反本使用条款约定；若您在本使用条款内容公告变更后继续使用YU浏览器，表示您已充分阅读、理解并接受修改后的使用条款，也将按照修改后的使用条款内容继续使用；若您不同意修改后的使用条款，您应立即停止使用。
       </p>
       <p>
        2.您认可：本使用条款受中华人民共和国现行及不时更新的法律、法规之约束。我们提供的服务内容和要求不受您所属国家或地区法律的排斥。如本使用条款约定与您所属国家、地区的法律法规相抵触，双方认可以中华人民共和国法律法规为唯一准据法。
       </p>
       <p>
        3.您声明：在您同意接受本使用条款时，您具有法律规定的完全民事权利能力和民事行为能力，并能够独立承担民事责任的自然人、法人或其他组织，或已经取得了充分的授权。不具备前述条件的，您应立即终止注册或停止使用YU浏览器。
       </p>
       <p>
        4.您承诺：针对本使用条款项下相关产品、服务的使用行为，除应符合相关法律法规的规定外，还应符合社会公共道德的要求，不应损害任意第三方的合法权益，如因此遇到第三方追偿或权利主张，您应当承担全部责任，并确保我们不受到牵连或因此而承担任何责任。对于任何第三方的损失，我们不承担任何关联赔偿或作出任何承诺。
       </p>
      </div>
     </div>
     <div>
      <h2>
       一、我们提供的服务
      </h2>
      <div>
       <p>
        我们提供广泛多样的服务，这些服务均受本条款约束。具体服务包括：
       </p>
       <p>
        1.浏览
       </p>
       <p>
        指浏览器作为中立的网络工具为第三方提供的信息存储空间服务、链接服务、信息展示平台，方便您通过通过网址、书签、书架、浏览历史、搜索、下载或由第三方网站设定的其他方式，快捷地获取网络上的网页、文字、媒体、应用程序等内容的服务。
       </p>
       <p>
        2.搜索
       </p>
       <p>
        YU浏览器、第三方公司通过互联网向您提供的，根据您键入的关键字为您展现搜索引擎基于相关技术标准或协议收录的第三方网站、内容的服务。除非有特殊声明，否则任何通过使用搜索而搜索链接到的第三方网页均系他人制作，搜索引擎的收录与展现行为均为自动触发，不代表我们赞成被搜索链接到的第三方网页上的内容或立场，更不代表我们对其安全性、正确性、及时性负责。
       </p>
       <p>
        3.集成式服务
       </p>
       <p>
        安装在YU浏览器上的第三方应用程序、脚本、插件等。除非有特殊声明，否则用户通过各种渠道安装使用的这类服务均由第三方开发和负责。
       </p>
       <p>
        4.安全服务
       </p>
       <p>
        YU浏览器可能会帮助您过滤掉（或者提醒您网站上存在）令人不快的内容/恶意内容。
       </p>
       <p>
        我们将尽最大努力确保YU浏览器及其所涉及的技术及信息安全、有效、准确、可靠，但受限于现有技术，除法律法规有明确规定外，您理解我们不能对此进行担保。您应加强信息安全及个人信息的保护意识、注意密码保护、谨慎识别网络信息，以免遭受损失。
       </p>
      </div>
     </div>
     <div>
      <h2>
       二、责任范围和限制
      </h2>
      <div>
       <p>
        1.第三方提供的服务
       </p>
       <p>
        因用户使用YU浏览器时，可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供。
       </p>
       <p>
        所以，我们不保证通过第三方提供服务及内容的安全性、准确性、有效性及其他不确定的风险，由此若引发的任何争议及损害，与我们无关，我们不承担任何责任。
       </p>
       <p>
        您应对这些第三方内容自行加以判断，并承担因使用相关资源而引起的所有风险。我们无法且不会对因前述风险而导致的任何损失或损害承担责任。
       </p>
       <p>
        2.不可抗力及第三方原因
       </p>
       <p>
        我们依照法律规定履行基础保障义务，但对于下述原因导致的服务中断、数据的删除或储存失败等不能满足您要求的情形，我们并不承担相应的违约责任：
       </p>
       <p>
        （1）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；
       </p>
       <p>
        （2）因电力供应故障、通讯网络故障等公共服务因素或移动通讯终端病毒或黑客攻击、系统不稳定等第三人因素；
       </p>
       <p>
        （3）在我们已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。
       </p>
       <p>
        3.用户原因
       </p>
       <p>
        由于您因下述任一情况所引起或与此有关的人身伤害或附带的、间接的损害赔偿，包括但不限于利润损失、资料损失、业务中断的损害赔偿或其它商业损害赔偿或损失，需由您自行承担：
       </p>
       <p>
        （1）使用或未能使用YU浏览器；
       </p>
       <p>
        （2）第三方未经批准的使用YU浏览器或更改您的数据；
       </p>
       <p>
        （3）使用YU浏览器进行的行为产生的费用及损失；
       </p>
       <p>
        （4）您对YU浏览器的误解；
       </p>
       <p>
        （5）因您所在位置、您通讯设备的关闭状态等导致服务无法提供的情形；
       </p>
       <p>
        （6）非因我们的原因而引起的与YU浏览器有关的其它损失。
       </p>
       <p>
        4.用户内容免责
       </p>
       <p>
        您理解并知晓在使用YU浏览器时，所接触的内容和信息来源广泛，我们无法对该内容和信息的准确性、真实性、可用性、安全性、完整性和正当性负责。您理解并认可您可能会接触到不正确的、令人不快的、不适当的或令人厌恶的内容和信息，您不会以此追究我们的相关责任。
       </p>
       <p>
        5.隐私数据
       </p>
       <p>
        我们会在您使用YU浏览器的过程中记录必要的信息，并在您需要的时候或者相关政府监管部门提出监管审查、合规或取证调查时进行提供。
       </p>
       <p>
        我们承诺对您资料采取对外保密措施，不向第三方披露您资料，不授权第三方使用您资料，除非：
       </p>
       <p>
        （1）依据本使用条款或者您与我们之间其他使用条款、合同、在线条款等规定可以提供；
       </p>
       <p>
        （2）依据法律法规的规定应当提供；
       </p>
       <p>
        （3）行政、司法等职权部门要求我们提供；
       </p>
       <p>
        （4）您同意我们向第三方提供；
       </p>
       <p>
        （5）为解决举报事件、提起诉讼而提交的；
       </p>
       <p>
        （6）为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的。
       </p>
      </div>
     </div>
     <div>
      <h2>
       三、用户使用与行为规范
      </h2>
      <div>
       <p>
        1.账户安全
       </p>
       <p>
        由于本公司所提供的YU浏览器所提供的账户功能仅支持书签同步，您将对账户密码以及登录到由YU浏览器链接的其他网站时执行的所有操作负全部责任。
       </p>
       <p>
        2.禁止破坏软件和服务完整性
       </p>
       <p>
        未经公司书面许可，任何用户、第三方不得进行包括并不限于：
       </p>
       <p>
        （1）对YU浏览器进行反向工程，如反汇编、反编译等；
       </p>
       <p>
        （2）修改、破坏YU浏览器及其服务原状；
       </p>
       <p>
        （3）干预或试图干预任何用户或任何其他方接入平台服务；
       </p>
       <p>
        （4）不得对YU浏览器及相关服务的源网页进行任何形式的任何改动，包括但不限于首页链接、广告系统链接、内容API接口等入口，也不得对YU浏览器及相关服务的源页面的展示进行任何形式的遮挡、插入、弹窗等妨碍。
       </p>
       <p>
        3.禁止模拟或盗取信息或数据
       </p>
       <p>
        未经公司书面许可，任何用户、第三方不得进行包括并不限于：
       </p>
       <p>
        （1）通过任何“框架”、“镜像”或其他技术以模仿YU浏览器的外观和功能；
       </p>
       <p>
        （2）以任何方式（包括但不限于盗链、冗余盗取、非法抓取、模拟下载、深度链接、假冒注册等）直接或间接盗取YU浏览器及相关服务的视频、图文等信息内容，或以任何方式（包括但不限于隐藏或者修改域名、平台特有标识、用户名等）删除或改变相关信息内容的权利管理电子信息；
       </p>
       <p>
        （3）通过使用任何自动化程序、软件、引擎、网络爬虫、网页分析工具、数据挖掘工具或类似工具，接入YU浏览器、收集或处理通过YU浏览器所提供的内容；
       </p>
       <p>
        （4）采用包括但不限于特殊标识、特殊代码等任何形式的识别方法，自行或协助第三人对YU浏览器及相关服务的信息内容产生流量、阅读量引导、转移、劫持等不利影响；
       </p>
       <p>
        （5）不得对YU浏览器的用户行为、运营行为进行数据的抓取、统计、分析，更不得将上述数据以任何方式公示、提供、泄露给任何第三人。
       </p>
       <p>
        4.禁止危害网络安全
       </p>
       <p>
        未经公司书面许可，任何用户、第三方不得进行包括并不限于：
       </p>
       <p>
        （1）使用未经许可的数据或进入未经许可的服务器/帐户；
       </p>
       <p>
        （2）未经允许进入公众网络或者他人操作系统并删除、修改、增加存储信息；
       </p>
       <p>
        （3）未经许可企图探查、扫描、测试本软件系统或网络的弱点或其它实施破坏网络安全的行为；
       </p>
       <p>
        （4）探究或测试YU浏览器、系统或其他用户的系统是否容易入侵攻击，或在其他方面规避（或试图规避）YU浏览器、系统或其他用户的系统的任何安全功能；
       </p>
       <p>
        （5）故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为。
       </p>
       <p>
        5.禁止超出软件和服务提供目的进行使用
       </p>
       <p>
        未经公司书面许可，任何用户、第三方不得进行包括并不限于：
       </p>
       <p>
        （1）利用YU浏览器存储、发布、传播违反国家、地方法律法规、行业惯例和社会公共道德的信息与内容；
       </p>
       <p>
        （2）使用YU浏览器用于任何商业用途或为任何第三方的利益；
       </p>
       <p>
        （3）参与任何非法或有可能非法（我们有权对用户行为及应适用的规则进行认定，并据此处理）的活动或交易，包括传授犯罪方法、出售任何非法药物、洗钱活动、诈骗等。
       </p>
      </div>
     </div>
     <div>
      <h2>
       四、知识产权
      </h2>
      <div>
       <p>
        除非另有约定或我们另行声明，YU浏览器内的所有内容（用户依法享有版权的内容除外）、技术、软件、程序、数据及其他信息（包括但不限于文字、图像、图片、照片、音频、视频、图表、色彩、版面设计、电子文档）的所有知识产权（包括但不限于版权、商标权、专利权、商业秘密等）及相关权利，均归我们所有。未经我们许可，任何人不得擅自使用（包括但不限于复制、传播、展示、镜像、上载、下载、修改、出租）。
       </p>
       <p>
        YU浏览器的Logo、图标等标识、徵记、产品和服务名称均为我们在中国或其它国家的商标，未经我们书面授权，任何人不得以任何方式展示、使用或作其他处理，也不得向他人表明您有权展示、使用或作其他处理。
       </p>
       <p>
        我们对YU浏览器专有内容、原创内容和其他通过授权取得的独占或独家内容享有完全知识产权。未经我们许可，任何单位和个人不得私自转载、传播和提供观看服务或者有其他侵犯YU浏览器知识产权的行为，否则将承担所有相关的法律责任。
       </p>
      </div>
     </div>
     <div>
      <h2>
       五、违约及处理方式
      </h2>
      <div>
       <p>
        1.发生如下情形之一的，视为您违约：
       </p>
       <p>
        （1）使用YU浏览器时违反有关法律法规规定的；
       </p>
       <p>
        （2）违反本使用条款或其他补充约定的。
       </p>
       <p>
        为适应互联网行业发展和满足海量用户对高效优质服务的需求，您理解并同意YU浏览器关于违约认定的程序和标准。
       </p>
       <p>
        2.违约处理措施
       </p>
       <p>
        （1）您在YU浏览器上实施的行为，或虽未在YU浏览器上实施但对YU浏览器及其用户产生影响的行为构成违约的，我们可依据相应规则中止向您提供部分或全部服务等处理措施。
       </p>
       <p>
        （2）如果您在YU浏览器上的行为违反相关的法律法规，我们可依法向相关主管机关报告并提交您的使用记录和其他信息。
       </p>
       <p>
        （3）如您的行为使YU浏览器及/或其关联公司遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿上述全部损失。
       </p>
       <p>
        如您的行为使YU浏览器及/或其关联公司遭受第三人主张权利，YU浏览器及/或其关联公司可在对第三人承担金钱给付等义务后就全部损失向您追偿。
       </p>
      </div>
     </div>
     <div>
      <h2>
       六、法律适用与争议解决
      </h2>
      <div>
       <p>
        本使用条款之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国法律；如法律无相关规定的，参照商业惯例及/或行业惯例。
       </p>
       <p>
        您因使用YU浏览器所产生及与YU浏览器有关的争议，由我们与您协商解决。协商不成时，任何一方均可向法院提起诉讼。
       </p>
       <p>
        请您在发现任何违反本使用条款以及其他任何单项服务的用户协议、各类公告之情形时，及时与我们联系。
       </p>
      </div>
     </div>
     <div>
      <h2>
       七、联系我们
      </h2>
      <div>
       <p>
        邮箱地址：278245002@qq.com
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>