{% extends 'base.html' %}
{% load static %}

{% block title %}
    企业概况_逻存信息科技
{% endblock %}

{% block content %}
<!-- 广告横幅 -->
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive survey-img"  src="https://img0.baidu.com/it/u=4275665245,2720186812&fm=253&fmt=auto&app=138&f=JPEG?w=1920&h=500">

{#        <img class="img-responsive survey-img" src="{% static 'img/new.jpg' %}">#}
    </div>
</div>

<!-- 主体内容 -->
<div class="container">
    <div class="row row-3">
        <!-- 侧边导航栏 -->
        <div class="col-md-3">
            <div class="model-title">
                公司简介
            </div>
            <div class="model-list">
                <ul class="list-group">
                    <li class="list-group-item" id="survey">
                        <a href="{% url 'aboutApp:survey' %}">企业概况</a>
                    </li>
{#                    <li class="list-group-item" id="honor">#}
{#                        <a href="{% url 'aboutApp:honor' %}">荣誉资质</a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
        <!-- 说明文字和图片 -->
        <div class="col-md-9">
            <div class="model-details-title">
                企业概况
            </div>
            <div class="model-details">
{#                <div class="row">#}
{#                    <img class="img-responsive" src="{% static 'img/aboutCompany.jpg' %}">#}
{#                </div>#}
                    <p>
                        逻存信息科技有限企业，互联网软件服务提供商, 以信息检索领域为主要应用方向，提供极速、准确和安全的信息软件服务产品。 目前以及未来将提供一套Jade系列的互联网产品，敬请期待！
                     </p>
                     <p> Jade 的使命是保护您的隐私权。我们制作了一套互联网隐私工具——包括我们的 浏览器 和 搜索引擎，帮助您抵御广告、跟踪器和其他试图跟踪您的网络行踪的恶意内容。</p>

                     <p> 未来还将包括以下功能其他功能部件"

                        <li>Jade 新闻：个性化的新闻订阅源，来自不同领域的新闻媒体和内容提供商，直接发送到您的浏览器。完全私人体验。</li>
                        <li>Jade 插件： 一整套插件，支持在线学习，音视频浏览，下载等功能。</li>
                        <li>Jade 播放列表：直接在您的浏览器中制作您喜爱的内容的播放列表。添加几乎任何媒体，随时随地播放。支持离线播放。</li>
                        <li>Jade 音视频： 基于人工智能，提供音视频更高优质的播放体验，同时将考虑更省流的播放方式。</li>
                        <li>Jade 通话： 通话为您的网络浏览器提供无限的私人视频通话体验。无需额外的应用。没有跟踪。同时提供音视频播放基于人工智能的优化。</li>
                        <li>Jade 钱包： 国际版本直接内置在浏览器中的安全加密钱包。无需安装扩展程序，无需额外下载。这意味着更能抵制应用程序欺骗、网络钓鱼和盗窃的影响。购买、存储、发送和兑换资产；NFT & 多链支持；等等。多合一安全钱包。</li>
                        <li> Jade 代理 ：国际版本加密您在线执行的全部操作，即使在浏览器之外。覆盖整个设备的每个应用。选择本地服务器以获得更快的连接。</li>

                    </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}